.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #FFF;
}

header {
  background: #4CA5CD;
  color: #FFF;
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

.record {
  background: #736D67;
  padding: 1.5em 0;
}

.record button {
  background: #F2CC59;
  border: none;
  border-radius: 4px;
  padding: 1em;
  text-transform: capitalize;
}

footer {
  flex-shrink: 0;
  background: #736D67;
  color: #FFF;
}   